<mat-toolbar class="header">
  <span><a href="/">GH User Activity</a></span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button aria-label="info" (click)="helpDialog()" title="Info">
    <mat-icon>help_outline</mat-icon>
  </button>&nbsp;
  <a href="https://github.com/adityatelange/github-user-activity-viewer" target="_blank" rel="noopener noreferrer">
    <button mat-icon-button aria-label="key" title="Source">
      <mat-icon>source</mat-icon>
    </button>
  </a>&nbsp;
  <button mat-icon-button aria-label="key" (click)="openDialog()">
    <mat-icon>vpn_key</mat-icon>
  </button>
</mat-toolbar>
