<mat-toolbar class="header">
  <span><a href="/" title="GH User Activity">GH User Activity</a></span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button aria-label="info" (click)="helpDialog()" title="Info">
    <mat-icon>help_outline</mat-icon>
  </button>&nbsp;
  <a href="https://github.com/adityatelange/gh-user-activity" target="_blank" rel="noopener noreferrer">
    <button mat-icon-button aria-label="key" title="Source">
      <mat-icon>source</mat-icon>
    </button>
  </a>&nbsp;
  <button mat-icon-button aria-label="key" (click)="openDialog()" title="Set PAT">
    <mat-icon>vpn_key</mat-icon>
  </button>
</mat-toolbar>
