<form>
  <h2 mat-dialog-title>Github Personal Access Token</h2>
  <mat-dialog-content>
    Read More About this
    <ul>
      <li><a href="https://docs.github.com/en/rest/overview/resources-in-the-rest-api#rate-limiting">rate-limiting</a>
      </li>
      <li>
        <a
          href="https://docs.github.com/en/github/authenticating-to-github/creating-a-personal-access-token">creating-a-personal-access-token</a>
      </li>
    </ul>
    <mat-form-field *ngIf="!data.key" appearance="outline">
      <mat-label>Enter Key</mat-label>
      <input matInput placeholder="ex. 4a68631afb82baladf9c49892e0e3c82eaalef66" [(ngModel)]="pat" name="pat">
    </mat-form-field>
    <mat-form-field *ngIf="data.key" appearance="outline">
      <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="data.key" name="pat" readonly>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide PAT'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button *ngIf="!data.key" mat-button mat-dialog-close>Cancel</button>
    <button *ngIf="data.key" mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
    <button mat-button type="submit" *ngIf="!data.key" [mat-dialog-close]="pat" cdkFocusInitial
      color="primary">Save</button>
    <button mat-button type="submit" *ngIf="data.key" mat-dialog-close (click)="deletePAT()"
      color="warn">Delete</button>
  </mat-dialog-actions>
</form>
