/* Mobile First Media Queries */

/* Base style */
mat-card {
  text-align: center;
  margin: 20px 10px;
}

.EventBox {
  margin: 50px 5px;
}

.form {
  width: 80%;
}

mat-spinner {
  margin: auto;
}


/* Larger than mobile screen */
@media (min-width: 40.0rem) {}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {}

/* Larger than desktop screen */
@media (min-width: 120.0rem) {
  mat-card {
    text-align: center;
    margin: 20px 500px;
  }

  .EventBox {
    margin: 50px 400px;
  }
}
