<div class="home">
  <mat-card>
    <form [formGroup]='form' (submit)="onSubmit()">
      <mat-form-field class="form">
        <mat-label>Username</mat-label>
        <input matInput type="text" placeholder="Ex. torvalds" formControlName="username">
        <mat-error *ngIf="form.get('username').invalid">Fill in the Username</mat-error>
      </mat-form-field>
      <br>
      <button mat-raised-button type="submit" color="primary">Submit </button>
    </form>
  </mat-card>
  <mat-spinner *ngIf="isLoadingSpinneruserEvents || isLoadingSpinneruserReceivedEvents"></mat-spinner>

  <div class="EventBox"
    *ngIf="userEvents && userReceivedEvents && isLoadingSpinneruserEvents == false && isLoadingSpinneruserReceivedEvents == false">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab *ngFor="let type of [userEvents, userReceivedEvents]">
        <ng-template mat-tab-label *ngIf="type == userEvents">
          Events Created
        </ng-template>
        <ng-template mat-tab-label *ngIf="type == userReceivedEvents">
          Events Received
        </ng-template>
        <div *ngIf="type.length == 0">
          <mat-card align="center">
            <mat-card-title>
              <mat-icon aria-hidden="false" aria-label="user events icon">
                notes
              </mat-icon>
            </mat-card-title>
            <mat-card-subtitle *ngIf="type == userEvents">
              {{ username }} haven't Created any Events yet.
            </mat-card-subtitle>
            <mat-card-subtitle *ngIf="type == userReceivedEvents">
              {{ username }} haven't Received any Events yet.
            </mat-card-subtitle>
          </mat-card>
        </div>
        <mat-accordion multi *ngIf="type.length != 0">
          <mat-expansion-panel *ngFor="let event of type">
            <mat-expansion-panel-header [collapsedHeight]="'60px'" [expandedHeight]="'65px'">
              <mat-panel-title>
                <b class="line-clamp">{{ event.type }}</b>
              </mat-panel-title>
              <mat-panel-description title="{{event.repo.name}}" class="line-clamp">
                {{ event.repo.name }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- primary content of the panel. -->

            <h3 align="center">@ {{ event.created_at }}
              by
              <a href="https://github.com/{{ event.actor.login }}">
                {{ event.actor.login }}
              </a>
            </h3>
            <!-- -------------------------------------------------------------------- -->
            <div *ngIf="event.type == 'CommitCommentEvent'">
              <mat-list-item>
                <a href="https://github.com/{{ event.actor.login }}">
                  {{ event.actor.login }}
                </a>&nbsp;
                Commented
                &nbsp;<a href="{{event.payload.comment.html_url}}" class="line-clamp"
                  title="{{event.payload.comment.body}}">{{event.payload.comment.body }}</a>
              </mat-list-item>
            </div>
            <!-- -------------------------------------------------------------------- -->
            <div *ngIf="event.type == 'CreateEvent'">
              <mat-list-item>
                <a href="https://github.com/{{ event.actor.login }}">
                  {{ event.actor.login }}
                </a>&nbsp;
                Created
                <a href="https://github.com/{{event.repo.name}}" title="{{event.repo.name}}">{{event.repo.name}}</a>
              </mat-list-item>
            </div>
            <!-- -------------------------------------------------------------------- -->
            <div *ngIf="event.type == 'DeleteEvent'">
              <mat-list-item>
                <a href="https://github.com/{{ event.actor.login }}">
                  {{ event.actor.login }}
                </a>
                &nbsp;deleted&nbsp;{{event.payload.ref_type}} {{event.payload.ref}} of
                <a href="https://github.com/{{event.repo.name}}" title="{{event.repo.name}}">{{event.repo.name}}</a>
              </mat-list-item>
            </div>
            <!-- -------------------------------------------------------------------- -->
            <div *ngIf="event.type == 'ForkEvent'">
              <mat-list-item>
                <a href="https://github.com/{{ event.actor.login }}">
                  {{ event.actor.login }}
                </a>&nbsp;
                Forked&nbsp;
                <a href="https://github.com/{{event.repo.name}}" title="{{event.repo.name}}">{{event.repo.name}}</a>
                to&nbsp;
                <a href="https://github.com/{{event.payload.forkee.full_name}}"
                  title="{{event.payload.forkee.full_name}}">{{event.payload.forkee.full_name}}</a>
              </mat-list-item>
            </div>
            <!-- -------------------------------------------------------------------- -->
            <div *ngIf="event.type == 'GollumEvent'"></div>
            <!-- -------------------------------------------------------------------- -->
            <div *ngIf="event.type == 'IssueCommentEvent'">
              <mat-list-item>
                <a href="https://github.com/{{ event.actor.login }}">
                  {{ event.actor.login }}
                </a>&nbsp;
                {{event.payload.action}}&nbsp;commented&nbsp;
                <a href="{{event.payload.comment.html_url}}" class="line-clamp"
                  title="{{event.payload.comment.body}}">{{ event.payload.comment.body }}</a>
                on&nbsp;
                <a href="{{event.payload.issue.html_url}}"
                  title="{{event.payload.issue.title}}">{{event.payload.issue.title}}</a>
              </mat-list-item>
            </div>
            <!-- -------------------------------------------------------------------- -->
            <div *ngIf="event.type == 'IssuesEvent'">
              <mat-list-item>
                <a href="https://github.com/{{ event.actor.login }}">
                  {{ event.actor.login }}
                </a>&nbsp;
                {{event.payload.action}}&nbsp;
                <a href="{{event.payload.issue.html_url}}"
                  title="{{event.payload.issue.title}}">{{event.payload.issue.title}}</a>
              </mat-list-item>
            </div>
            <!-- -------------------------------------------------------------------- -->
            <div *ngIf="event.type == 'MemberEvent'"></div>
            <!-- -------------------------------------------------------------------- -->
            <div *ngIf="event.type == 'PublicEvent'"></div>
            <!-- -------------------------------------------------------------------- -->
            <div *ngIf="event.type == 'PullRequestEvent'">
              <mat-list-item>
                <a href="https://github.com/{{ event.actor.login }}">
                  {{ event.actor.login }}
                </a>&nbsp;
                {{event.payload.action}}&nbsp;
                <a href="{{event.payload.pull_request.html_url}}"
                  title="{{event.payload.pull_request.title}}">{{event.payload.pull_request.title}}</a>
              </mat-list-item>
            </div>
            <!-- -------------------------------------------------------------------- -->
            <div *ngIf="event.type == 'PullRequestReviewCommentEvent'">
              <mat-list-item>
                <a href="https://github.com/{{ event.actor.login }}">
                  {{ event.actor.login }}
                </a>&nbsp;
                Commented&nbsp;
                <a href="{{event.payload.comment.html_url}}"
                  title="{{event.payload.comment.body}}">{{event.payload.comment.body}}</a>
                on&nbsp;
                <a href="{{event.payload.pull_request.html_url}}"
                  title="{{event.payload.pull_request.title}}">{{event.payload.pull_request.title}}</a>
              </mat-list-item>
            </div>
            <!-- -------------------------------------------------------------------- -->
            <div *ngIf="event.type == 'PushEvent'">
              <mat-list role="list">
                <h3>Commits</h3>
                <mat-list-item role="listitem" *ngFor="let commit of event.payload.commits; last as last">
                  <a class="line-clamp" href="https://github.com/{{event.repo.name}}/commit/{{ commit.sha }}"
                    title="{{ commit.message }}">{{ commit.message}}</a>
                  <mat-divider [inset]="true" *ngIf="!last"></mat-divider>
                </mat-list-item>
              </mat-list>
            </div>
            <!-- -------------------------------------------------------------------- -->
            <div *ngIf="event.type == 'ReleaseEvent'"></div>
            <!-- -------------------------------------------------------------------- -->
            <div *ngIf="event.type == 'SponsorshipEvent'"></div>
            <!-- -------------------------------------------------------------------- -->
            <div *ngIf="event.type == 'WatchEvent'">
              <mat-list>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <a href="https://github.com/{{ event.actor.login }}">
                    {{ event.actor.login }}
                  </a>&nbsp;
                  {{event.payload.action}}&nbsp;
                  <a href="https://github.com/{{event.repo.name}}">
                    {{event.repo.name}}
                  </a>
                </mat-list-item>
              </mat-list>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
