<div class="home">
  <mat-card>
    <form [formGroup]='form' (submit)="onSubmit()">
      <mat-form-field class="form">
        <mat-label>Username</mat-label>
        <input matInput type="text" placeholder="Ex. torvalds" formControlName="username">
        <mat-error *ngIf="form.get('username').invalid">Fill in the Username</mat-error>
      </mat-form-field>
      <br>
      <button mat-raised-button type="submit">Submit </button>
    </form>
  </mat-card>
  <mat-spinner *ngIf="isLoadingSpinneruserEvents || isLoadingSpinneruserReceivedEvents"></mat-spinner>

  <div class="EventBox"
    *ngIf="userEvents && userReceivedEvents && isLoadingSpinneruserEvents == false && isLoadingSpinneruserReceivedEvents == false">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab *ngFor="let type of [userEvents, userReceivedEvents]">
        <ng-template mat-tab-label *ngIf="type == userEvents">
          Events Created
        </ng-template>
        <ng-template mat-tab-label *ngIf="type == userReceivedEvents">
          Events Received
        </ng-template>
        <div *ngIf="type.length == 0">
          <mat-card align="center">
            <mat-card-title>
              <mat-icon aria-hidden="false" aria-label="user events icon">
                notes
              </mat-icon>
            </mat-card-title>
            <mat-card-subtitle *ngIf="type == userEvents">
              {{ username }} haven't Created any Events yet.
            </mat-card-subtitle>
            <mat-card-subtitle *ngIf="type == userReceivedEvents">
              {{ username }} haven't Received any Events yet.
            </mat-card-subtitle>
          </mat-card>
        </div>
        <mat-accordion multi *ngIf="type.length != 0">
          <mat-expansion-panel *ngFor="let event of type">
            <mat-expansion-panel-header [collapsedHeight]="'60px'" [expandedHeight]="'65px'">
              <mat-panel-title>
                <b>{{ event.type }}</b>
              </mat-panel-title>
              <mat-panel-description title="{{event.repo.name}}">
                {{ event.repo.name | slice:0:70 }}{{ event.repo.name.length < 70 ? '' : '...' }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- primary content of the panel. -->

            <h3 align="center">@ {{ event.created_at }}
              by
              <a href="https://github.com/{{ event.actor.login }}">
                {{ event.actor.login }}
              </a>
            </h3>

            <div *ngIf="event.type == 'CommitCommentEvent'"></div>
            <div *ngIf="event.type == 'CreateEvent'"></div>
            <div *ngIf="event.type == 'DeleteEvent'"></div>
            <div *ngIf="event.type == 'ForkEvent'"></div>
            <div *ngIf="event.type == 'GollumEvent'"></div>
            <div *ngIf="event.type == 'IssueCommentEvent'"></div>
            <div *ngIf="event.type == 'IssuesEvent'"></div>
            <div *ngIf="event.type == 'MemberEvent'"></div>

            <div *ngIf="event.type == 'PublicEvent'"></div>
            <div *ngIf="event.type == 'PullRequestEvent'"></div>
            <div *ngIf="event.type == 'PullRequestReviewCommentEvent'"></div>
            <div *ngIf="event.type == 'PushEvent'">
              <mat-list *ngFor="let commit of event.payload.commits">
                <mat-divider *ngIf="event.payload.commits.length >0"></mat-divider>
                <mat-list-item>
                  <a href="{{ commit.url }}" title="{{ commit.message }}">{{ commit.message | slice:0:70 }}
                    {{commit.message.length < 70 ? '' : '...'}}</a>
                </mat-list-item>
              </mat-list>
            </div>
            <div *ngIf="event.type == 'ReleaseEvent'"></div>
            <div *ngIf="event.type == 'SponsorshipEvent'"></div>
            <div *ngIf="event.type == 'WatchEvent'">
              <mat-list>
                <mat-divider></mat-divider>
                <mat-list-item>
                  <a href="https://github.com/{{ event.actor.login }}">
                    {{ event.actor.login }}
                  </a>&nbsp;
                  {{event.payload.action}}&nbsp;
                  <a href="https://github.com/{{event.repo.name}}">
                    {{event.repo.name}}
                  </a>
                </mat-list-item>
              </mat-list>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
